{% extends "base.html" %}

{% block main %}
 <div align="center">
   <div class="d-flex card" style="width:500px">
    <div class="card-header bg-primary">
     <center>
      <div>
       <img src="static/profille_pic.jpg" width="250px" height="200px" style="border-radius:50%";>
      </div>
      <h1>Michael Layne</h1>
     <p>@Eddie9894</p>
     <p>UWI,mona</p>
     <p>Joined {{joined}}</p>
     </center>
    </div>
    <div class="card-body" align="center">
     <div>
      <p class="card-text">
      Smart, innovated and bold are words that can be used to describe who I am.
      Futhermore I have developed skills in photographer, videographer and graphic designer. 
      <br>If need of any of these services arrive you can contact me at 1(876)987-6543 
      </p> 
     </div>
    <br><br>
     <div>
      <table align="center">
       <tbody>
           <tr>
            <td>200</td>
            <td></td>
            <td>5000</td>
            <td></td>
            <td>2500</td>
           </tr>
           <tr>
            <td>Post</td>
            <td></td>
            <td>Follow</td>
            <td></td>
            <td>Followers</td>
           </tr>
       </tbody>
      </table>
     </div>
     <br><br>
     <div>
      <button type="button" class="btn btn-primary">Follow</button>
     </div>
      
    </div>
   </div>
 </div>
{% endblock %}